# Google Apps Script Endpoint (for Contact Form)
GOOGLE_APPS_SCRIPT_URL="https://script.google.com/macros/s/your_deployment_id/exec"

# YouTube Data API v3 (for automated media sync cron)
YOUTUBE_API_KEY='your_youtube_api_v3_key'
YOUTUBE_CHANNEL_ID='UCwII4Rd9vrweS6o6tfpkXKA'
YOUTUBE_UPLOADS_PLAYLIST_ID='UUwII4Rd9vrweS6o6tfpkXKA'
